.item-name{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.item-name button{
    margin: 0px;
    padding: auto;
    display: inline;
    margin-bottom: 5px;
    color: rgb(97, 95, 95);
    border: none; 
    outline: none;
}

.item-name button:hover{
    color: rgb(226, 5, 5);
    outline: none;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}

.item-name h1{
    margin-bottom: 5px;
    margin: 0px;
    display: inline;
}


.item-name-changing{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.item-name-changing input{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    text-align: center;
    margin: 0px;
    display: inline;
    background-color: rgb(247, 238, 237);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.item-name-changing button{
    margin: 0px;
    padding: auto;
    display: inline;
    margin-bottom: 5px;
    color: rgb(97, 95, 95);
    border: none; 
    outline: none;
}

.item-name-changing button:hover{
    color: rgb(226, 5, 5);
    outline: none;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}

.update-button-container{
    align-items: center;
}

.update-button{
    width: 30%;
    color: black;
    border-radius: 30px;
    background-color: rgb(47, 204, 60);
    margin-top: 10px;
}

.update-button:hover{
    background-color: rgb(0, 255, 21);
}

.go-back-button{
    text-align: left;
    width: 11%;
    border-radius: 30px;
}

.go-back-button-icon:hover{
    color: rgb(226, 5, 5);
    outline: none;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}



.go-back-button-icon{
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.go-back-button-text{
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

td{
    align-items: center;
    width: 30%;
    font-style: italic;
}

