.state-cell-on{
    background-color: green;
    text-align: center;
}

.state-cell-off{
    background-color: rgb(255, 0, 0);
    text-align: center;
}

.add-button-container{
    width: 100%;
    text-align: right;
}


.add-button-icon{
    display: inline;
    padding: 0px;
}