.Params{
    background-color: rgb(236, 240, 243);
    border-radius: 30px;
    width: 80%;
    margin: auto;
}

.Table{
    text-align: right;
}

.Table .UpdateButton{
    background-color: black;
    border-radius: 20px;
}