.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



body {
  margin: 0;
  background: #EEEEEE;
  font-family: Arial;
}

header {
  background: #333333;
  color: white;
  padding: 5px;
  text-align: center;
}


.header-item:hover {
  background-color: #0096ff;
  color: black;
}


main {
  background: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
}





main h1 {
  text-align: center;
}

